@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

.insight-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-controls, .right-controls {
    flex: 1;
    margin-left: 150px;
    margin-right: 150px;
}

.insight-select, .insight-input {
    width: 100%;
    font-size: large;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.highlight-button {
    font-family: Poppins-Bold;
    font-size: x-large;
    padding: 10px 40px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 200px;
}

.highlight-button:hover {
    background-color: #45a049;
}

.chart-panel {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    min-height: 500px;
}

#chartPanel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    margin: 10px;
    max-height: 500px;
    max-width: 600px;
}

#usersTable {
    margin-top: 20px;
    text-align: center;
}

#usersTable table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

#usersTable th, #usersTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#usersTable thead {
    background-color: #4CAF50;
    color: white;
}

#usersTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#usersTable tr:hover {
    background-color: #ddd;
}

.game1win-panel .table-container {
    margin-bottom: 20px;
}

.game1win-panel table {
    width: 100%;
    border-collapse: collapse;
}

.game1win-panel th, .game1win-panel td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.game1win-panel th {
    background-color: #4CAF50;
    color: white;
}

.game1win-panel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.game1win-panel tr:hover {
    background-color: #ddd;
}

.game2win-panel {
    display: flex;
    justify-content: space-around; /* This will space out the tables evenly */
    align-items: flex-start; /* Aligns tables to the top */
    flex-wrap: wrap; /* Allows tables to wrap into a new row if there's not enough space */
    padding: 10px;
}

.game2win-panel .table-container {
    margin-bottom: 20px;
    flex: 1; /* This will allow each table container to take equal width */
    min-width: 300px; /* Minimum width for each table container to prevent them from becoming too small */
}

.game2win-panel .table-container {
    margin-bottom: 20px;
}

.game2win-panel table {
    width: 100%;
    border-collapse: collapse;
}

.game2win-panel th, .game2win-panel td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.game2win-panel tr:first-child {
    background-color: #4CAF50;
    color: white;
}

.game2win-panel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.game2win-panel tr:hover {
    background-color: #ddd;
}
