@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

.btn {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 2px;
    border: 1px solid transparent
}

.btn-round {
    border-radius: 4px !important
}

.btn i {
    margin-right: 15px
}

.btn.btn-large i {
    font-size: 24px
}

.button {
    margin-top: 0;
    margin-bottom: 0
}

.btn.btn-large {
    font-size: 18px;
    padding: 18px 35px
}

.highlight-button {
    border: 2px solid #000;
    display: inline-block;
    padding: 8px 20px 9px;
    font-size: 12px;
    color: #000;
    background-color: transparent
}

.highlight-button:hover {
    background-color: #7FFFD4;
    border: 2px solid #00FFFF;
}

.highlight-button i {
    color: #000
}

/* 스위치 토글 */
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* Center align for the button */
.record-mode {
    display: flex;
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Vertically center the content */
    padding: 20px 20px; /* Padding on both sides */
}

.total-trials {
    font-family: Poppins-Bold;
    font-size : 20px;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side span {
    margin-right: 10px; /* Spacing between label and switch */
    font-family: Poppins-Bold;
    font-size : 20px;
}

/* Monty Hall */
#montyHallGame {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Poppins-Bold;
    position: relative;
}

#doors {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.door {
    background-color: var(--orange);
    border: 2px solid black;
    width: 100px;
    height: 150px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.door.open {
    transform: perspective(600px) rotateY(120deg);
}

#icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    top: 0;
    width: 100%;
    pointer-events: none;
}

#icons i {
    font-size: 3.5rem;
    visibility: hidden; /* Initially hidden, shown when doors are opened */
}

.door.picked {
    border: 5px solid blue; /* Current selection */
}

.door.prev {
    border: 5px dashed blue; /* Previous selection */
}

.door.right {
    background-color: #AAFF00; /* Correct choice */
}

.door.wrong {
    background-color: #FF5733; /* Incorrect choice */
}

#instruction {
    margin-bottom: 20px; /* Ensure space between instruction text and choices */
}

#choices {
    margin-bottom: 20px; /* Space below the choices */
}

.game-button {
    background-color: var(--purple);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.game-button:hover {
    background-color: var(--red);
}

.hidden {
    display: none;
}
